
<div class="card">
  <div class="card-header">
   <h4 class="text-center card-title">Register</h4>
 </div>
 <div class="card-block container">
<form [formGroup]="singUp" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label  class="offset-lg-2 col-sm-2 col-form-label 	d-none d-sm-block">Email</label>
      <div class="col-xs-12 col-sm-6">
        <input type="text" class="form-control" placeholder="Email" id="Email" formControlName="Email"
        [ngClass]="{
          'has-error':(singUp.controls.Email.errors && singUp.controls.Email.dirty),
          'has-success': (!singUp.controls.Email.errors)
        }"
        (blur)="checkEmail()"
        >
        <div class="help-block MARGIN">
          <h6 *ngIf="singUp.controls.Email.errors?.required && singUp.controls.Email.dirty"
          class="alert alert-danger">you must provide an email</h6>
          <h6 *ngIf="singUp.controls.Email.errors?.validateEmail && singUp.controls.Email.dirty"
          class="alert alert-danger">you must enter a valid E-mail</h6>
          <h6 *ngIf="message && singUp.controls.Email.dirty && !singUp.controls.Email.errors?.validateEmail"
          [ngClass]="E_success">{{message}}</h6>
         </div>
      </div>
    </div>


    <div class="form-group row">
      <label for="" class="offset-lg-2 col-sm-2 col-form-label 	d-none d-sm-block" >Password</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" placeholder="Password" formControlName="Password"
        [ngClass]="{
          'has-error':(singUp.controls.Password.errors?.required && singUp.controls.Password.dirty),
          'has-success':(!singUp.controls.Password.errors)
        }"
        >
        <div class="help-block MARGIN">
            <h6 *ngIf="singUp.controls.Password.errors?.required && singUp.controls.Password.dirty"
            class="alert alert-danger"
            >you must provide an Password</h6>
        </div>
      </div>
    </div>

    <div class="form-group row">
        <label for="" class="offset-lg-2 col-sm-2 col-form-label 	d-none d-sm-block" >Password Confirmation</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="" placeholder="Password_conform" formControlName="Password_conform"
          [ngClass]="{
            'has-error':(singUp.controls.Password_conform.errors?.required && singUp.controls.Password_conform.dirty),
            'has-success':(!singUp.controls.Password.errors)
          }"
          >
          <div class="help-block MARGIN">
              <h6 *ngIf="singUp.controls.Password_conform.errors?.required && singUp.controls.Password_conform.dirty"
              class="alert alert-danger">you must provide an Password</h6>
              <h6 *ngIf="(singUp.errors?.matchingPasswords && singUp.controls.Password_conform.dirty) && !(singUp.controls.Password_conform.errors?.required && singUp.controls.Password_conform.dirty)"
              class="alert alert-danger">don't match</h6>
          </div>
        </div>
      </div>

      <div class="form-group row">
          <label for="" class="offset-lg-2 col-sm-2 col-form-label 	d-none d-sm-block" >Username</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="" placeholder="Username" formControlName="Username"
            [ngClass]="{
              'has-error':(singUp.controls.Username.errors && singUp.controls.Username.dirty),
              'has-success': (!singUp.controls.Username.errors)
            }"
            (blur)="checkUserName()"
            >
            <div class="help-block MARGIN">
              <h6 *ngIf="singUp.controls.Username.errors?.required && singUp.controls.Username.dirty"
              class="alert alert-danger">you must provide a username</h6>
              <h6 *ngIf="message_U && singUp.controls.Username.dirty && !(singUp.controls.Username.errors?.required) && !(singUp.controls.Username.errors?.minlength) && !(singUp.controls.Username.errors?.maxlength)"
              [ngClass]="U_success">{{message_U}}</h6>
              
              <h6 *ngIf="singUp.controls.Username.errors?.minlength && singUp.controls.Username.dirty"
              class="alert alert-danger">should be more than 3 letters and less than 30 </h6>
            </div>
          </div>
        </div>

        <div class="form-group row">
            <label for="" class="offset-lg-2 col-sm-2 col-form-label 	d-none d-sm-block" >Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="" placeholder="Name" formControlName="Name"
              [ngClass]="{
                'has-error':(singUp.controls.Name.errors && singUp.controls.Name.dirty),
                'has-success': (!singUp.controls.Name.errors)
              }"
              >
              <div class="help-block MARGIN">
                  <h6 *ngIf="singUp.controls.Name.errors?.required && singUp.controls.Name.dirty"
                  class="alert alert-danger">you must provide a Name</h6>
              </div>
            </div>
          </div>

          <div class="form-group row">
              <label for="" class="offset-lg-2 col-sm-2 col-form-label 	d-none d-sm-block" >Birth date</label>
              <div class="col-sm-6">
                <input type="date" class="form-control" id="" placeholder="Birth_date" formControlName="Birth_date"
                [ngClass]="{
                  'has-error':(singUp.controls.Birth_date.errors && singUp.controls.Birth_date.dirty),
                  'has-success': (!singUp.controls.Birth_date.errors)
                }"
                >
                <div class="help-block MARGIN">
                    <h6 *ngIf="singUp.controls.Birth_date.errors?.required && singUp.controls.Birth_date.dirty"
                    class="alert alert-danger">you must provide a Birth date</h6>
                </div>
              </div>
          </div>


          <div class="form-group row">
              <label for="" class="offset-lg-2 col-sm-2 col-form-label 	d-none d-sm-block" >Gender</label>
              <div class="col-sm-6">
                <select class="form-control" formControlName="Gender">
                  <option>Male</option>
                  <option>famele</option>
                </select>
              </div>
          </div>

          <div class="form-group row">
              <label for="" class="offset-lg-2 col-sm-2 col-form-label 	d-none d-sm-block" >Gender</label>
              <div class="col-sm-6">
                <select class="form-control" formControlName="Country">
                  <option>syria</option>
                  <option>lebanon</option>
                </select>
              </div>
          </div>
          <div class="offset-lg-4 col-lg-6">
          <button  type="submit" class="btn btn-success btn-block">Register</button>
         </div> 
        </form>
        </div>

        <div class="card-footer">
          <h6 [ngClass]="class" class="text-center">
            {{message}}
          </h6>
        </div>
        </div>
