

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand  mb-0 h1" routerLink="/">Alsaraha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ml-auto">

        
        <li class="nav-item">
            <a class="nav-link" routerLink="/profile"
            *ngIf="service.ifLoggedIn()"
            >Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/register" 
          *ngIf="!service.ifLoggedIn()"
          >Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/login"
            *ngIf="!service.ifLoggedIn()"
            >Login</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" 
               routerLinkActive="active" 
               routerLink="/about">
               About Us
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
            routerLinkActive="active" 
            routerLink="/contact">
            Contact Us
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          >Setting</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" (click)="service.logOut()" *ngIf="service.ifLoggedIn()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>