<div class="home">
    <div class="container">
        <div class="row">
                <div class="col-sm-12 card"> 
                    <img class="rounded mx-auto d-block card-img-top" src="../../../assets/avatar1.jfif">
                    <div class="card-body">
                        <a (click)="Set_Url()"><h5 class="card-title text-center"
                        *ngIf="ifLoggedIn()"    
                        >{{userName}}</h5></a> 
                    </div>
                </div>
        </div>

        <section class="message card">
            <div class="card-header">
                <h1 class="text-center">message</h1>
            </div>
        <div class="row card-body">
            <div class="col-sm-3 form-group">
                <a routerLink="/home/messageRecive"><button class="btn btn-success btn-block">Received</button></a> 
            </div>
            <div class="col-sm-3 form-group">
                <a routerLink="/home/messageSend"><button class="btn btn-danger btn-block">Sent</button></a>
            </div>
            <div class="col-sm-3 form-group">
                <a routerLink=""><button class="btn btn-danger btn-block">Send</button></a> 
            </div>
            <div class="col-sm-3 form-group">
                <a routerLink="/home/favor"><button class="btn btn-success btn-block">favor</button></a>
            </div>
        </div>
        </section>
        <router-outlet></router-outlet>
</div>
</div>