<div class="home">
    <div class="container">
        <div class="row">
                <div class="col-sm-12 card"> 
                    <img class="rounded mx-auto d-block card-img-top" src="../../../assets/avatar1.jfif">
                    <div class="card-body">
                        <a><h5 class="card-title text-center" (click)="USER()">{{username}}</h5></a> 
                    </div>
                </div>
        </div>

        <section class="message card">
            <div class="card-header">
                <h1 class="text-center">message</h1>
            </div>
        <div class="row card-body">
            <div class="col-sm-3">
                <a href="#"><button class="btn btn-success btn-block">Received</button></a> 
            </div>
            <div class="col-sm-3">
                <a href="#"><button class="btn btn-danger btn-block">Sent</button></a>
            </div>
            <div class="col-sm-3">
                <a href="#"><button class="btn btn-danger btn-block">Send</button></a> 
            </div>
            <div class="col-sm-3">
                <a href="#"><button class="btn btn-success btn-block">favor</button></a>
            </div>
        </div>
        </section>
</div>
</div>